.production{
    max-width: 1920px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
.production-bg{
    position: absolute;
    z-index: -20;
    top: -25px;
}
.production-bg img{
    height: 710px;
    width: 960px;
}
.production-name{
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 0 auto;
}
.production-name div{
    width: 280px;
    height: 52px;
    color: #561728;
    font-family: "Savoye Let Plain";
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    padding-top: 15px;
}
.production-types{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prod-type{
    margin-top: 27px;
    width: 237px;
    height: 61px;
    background: url(/img/prod-type_button.png) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.prod-type a{
    height: 32px;
    color: #f7efcb;
    font-family: "Savoye Let Plain";
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-decoration: none;
    padding-top: 10px;
}

.production-content{
    display: flex;
    align-items: center;
    padding-left: 153px;
    box-sizing: border-box;
}

.production-content_type{
    width: 40px;
    height: 32px;
    color: #666666;
    font-family: "Savoye Let Plain";
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    margin: 0 auto;
}
.production-content_name{
    max-width: 350px;
    height: 59px;
    color: #561728;
    font-family: "Savoye Let Plain";
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    margin: 0 auto;
    text-align: center;
    margin-top: 23px;
}
.production-content_description{
    width: 409px;
    height: 288px;
    color: #505050;
    font-family: "Book Antiqua";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    margin-top: 41px;
}
.production-structure{
    margin-left: -73px;
    z-index: 1;
}
.production-photo{
    position: relative;
}
.arrow{
    position: absolute;
    bottom: 35px;
    left: 48%;
}
.choose-cross img{
    width: 225px;
    height: 150px;
}
.production-choose_area{
    display: flex;
    padding-left: 120px;
    align-items: center;
    margin-top: 14px;
    justify-content: space-between;
    padding-right: 40px;
}
.production-choose_area a{
    text-decoration: none;
}
.choose,
.choose-cross{
    height: 150px;
}
.choose:hover,
.choose-cross:hover{
    transform: scale(1.03);
    transition: .3s;
}
.production-choose_area button:hover{
    transform: translateX(10px);
    transition: .4s;
}
.choose-name{
    height: 21px;
    color: #561728;
    font-family: "Savoye Let Plain";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: center;
    margin-top: -18px;
}
.prod-type:hover{
    transform: scale(1.05);
    transition: .1s;
}